<div class="card my-5 pb-4 shadow-effect">
  <div class="card-body">
    <h2 class="my-3">Comments (15,236)</h2>
    <div class="comment-box mt-3">
      <h4>John Doe</h4>
      <span class="text-danger bg-light">LAST UPDATED - SEP 20, 2021</span>
      <p class="my-3">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti
        officiis quo possimus voluptatibus eligendi dolorem ab. Modi dolor sit
        delectus!
      </p>
      <a role="button" class="mt-1">Reply</a>
      <a role="button" class="mt-1 ms-4">View Reply</a>
      <hr />
    </div>
    <div class="comment-box mt-3">
      <h4>John Doe</h4>
      <span class="text-danger bg-light">LAST UPDATED - SEP 20, 2021</span>
      <p class="my-3">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti
        officiis quo possimus voluptatibus eligendi dolorem ab. Modi dolor sit
        delectus!
      </p>
      <a role="button" class="mt-1">Reply</a>
      <a role="button" class="mt-1 ms-4">View Reply</a>
      <hr />
    </div>
    <div class="comment-box mt-3">
      <h4>John Doe</h4>
      <span class="text-danger bg-light">LAST UPDATED - SEP 20, 2021</span>
      <p class="my-3">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti
        officiis quo possimus voluptatibus eligendi dolorem ab. Modi dolor sit
        delectus!
      </p>
      <a role="button" class="mt-1">Reply</a>
      <a role="button" class="mt-1 ms-4">View Reply</a>
      <hr />
    </div>
  </div>
</div>
