<section>
  <div class="container p-5 bg-theme">
    <h1 class="text-white text-center">Terms and Conditions</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate odio
        alias possimus repellat debitis incidunt odit perferendis eaque dolorem
        fugiat totam nam blanditiis autem, reprehenderit laudantium eos tempore
        architecto aliquam?Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Voluptate odio alias possimus repellat debitis incidunt odit
        perferendis eaque dolorem fugiat totam nam blanditiis autem,
        reprehenderit laudantium eos tempore architecto aliquam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate odio
        alias possimus repellat debitis incidunt odit perferendis eaque dolorem
        fugiat totam nam blanditiis autem, reprehenderit laudantium eos tempore
        architecto aliquam?Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Voluptate odio alias possimus repellat debitis incidunt odit
        perferendis eaque dolorem fugiat totam nam blanditiis autem,
        reprehenderit laudantium eos tempore architecto aliquam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate odio
        alias possimus repellat debitis incidunt odit perferendis eaque dolorem
        fugiat totam nam blanditiis autem, reprehenderit laudantium eos tempore
        architecto aliquam?Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Voluptate odio alias possimus repellat debitis incidunt odit
        perferendis eaque dolorem fugiat totam nam blanditiis autem,
        reprehenderit laudantium eos tempore architecto aliquam?
      </p>
      <div class="text-center">
        <button class="btn btn-theme mt-4" routerLink="/home">
          Back to Home
        </button>
      </div>
    </div>
  </div>
</section>
