<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect my-3">
        <img [src]="randomImage()" alt="card-img" />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-sucess text-center ms-2">Featured</small>
          <small class="bg-light text-info text-center ms-2"
            >Views - 100,256</small
          >
          <small class="bg-light text-warning text-center ms-2"
            >LAST UPDATED - SEP 20, 2021</small
          >
          <h1 class="my-3">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui,
            assumenda numquam? Laudantium consectetur quisquam, quos, nostrum
            optio repudiandae aperiam nisi iure eos quasi magni? Delectus,
            atque? Eius consequuntur beatae ab. Doloremque suscipit quod sint
            porro fugiat qui enim consectetur facere debitis animi quas repellat
            quis distinctio natus, rerum eos ea. Ea adipisci fuga recusandae
            iste deleniti consequuntur, totam sint nisi dolorum numquam nobis
            cupiditate. Numquam eum, expedita qui exercitationem cumque delectus
            molestiae sapiente, recusandae quia similique nulla? Laborum fuga,
            autem totam similique dolorum error saepe magnam, consectetur, nam
            quisquam odit itaque sapiente. Fuga numquam in architecto officia
            dolor repellat pariatur.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui,
            assumenda numquam? Laudantium consectetur quisquam, quos, nostrum
            optio repudiandae aperiam nisi iure eos quasi magni? Delectus,
            atque? Eius consequuntur beatae ab. Doloremque suscipit quod sint
            porro fugiat qui enim consectetur facere debitis animi quas repellat
            quis distinctio natus, rerum eos ea. Ea adipisci fuga recusandae
            iste deleniti consequuntur, totam sint nisi dolorum numquam nobis
            cupiditate. Numquam eum, expedita qui exercitationem cumque delectus
            molestiae sapiente, recusandae quia similique nulla? Laborum fuga,
            autem totam similique dolorum error saepe magnam, consectetur, nam
            quisquam odit itaque sapiente. Fuga numquam in architecto officia
            dolor repellat pariatur.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui,
            assumenda numquam? Laudantium consectetur quisquam, quos, nostrum
            optio repudiandae aperiam nisi iure eos quasi magni? Delectus,
            atque? Eius consequuntur beatae ab. Doloremque suscipit quod sint
            porro fugiat qui enim consectetur facere debitis animi quas repellat
            quis distinctio natus, rerum eos ea. Ea adipisci fuga recusandae
            iste deleniti consequuntur, totam sint nisi dolorum numquam nobis
            cupiditate. Numquam eum, expedita qui exercitationem cumque delectus
            molestiae sapiente, recusandae quia similique nulla? Laborum fuga,
            autem totam similique dolorum error saepe magnam, consectetur, nam
            quisquam odit itaque sapiente. Fuga numquam in architecto officia
            dolor repellat pariatur.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui,
            assumenda numquam? Laudantium consectetur quisquam, quos, nostrum
            optio repudiandae aperiam nisi iure eos quasi magni? Delectus,
            atque? Eius consequuntur beatae ab. Doloremque suscipit quod sint
            porro fugiat qui enim consectetur facere debitis animi quas repellat
            quis distinctio natus, rerum eos ea. Ea adipisci fuga recusandae
            iste deleniti consequuntur, totam sint nisi dolorum numquam nobis
            cupiditate. Numquam eum, expedita qui exercitationem cumque delectus
            molestiae sapiente, recusandae quia similique nulla? Laborum fuga,
            autem totam similique dolorum error saepe magnam, consectetur, nam
            quisquam odit itaque sapiente. Fuga numquam in architecto officia
            dolor repellat pariatur.
          </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
    </div>
    <div class="col-md-3 my-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
