<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div *ngIf="post$ | async as post" class="card shadow-effect my-3">
        <img [src]="post.postImgPath" alt="card-img" />
        <div class="card-body">
          <span class="bg-light text-danger text-center">{{
            post.category.category
          }}</span>
          <span class="bg-light text-sucess text-center ms-2">Featured</span>
          <span class="bg-light text-info text-center ms-2"
            >Views - {{ post.views }}</span
          >
          <span class="bg-light text-warning text-center ms-2"
            >LAST UPDATED - {{ formatDate(post.createdAt) }}</span
          >
          <h1 class="my-3">{{ post.title }}</h1>
          <p [innerHtml]="post.content"></p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3 my-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
