<div
  *ngIf="postData"
  class="card shadow-effect mb-3"
  role="button"
  routerLink="/post"
>
  <div class="card-img-top">
    <img [src]="postData.data.postImgPath" alt="post-image" />
  </div>
  <div class="card-body">
    <span class="bg-light text-danger text-center">{{
      postData.data.category.category
    }}</span>
    <span class="bg-light text-success text-center ms-3">Featured</span>
    <span class="bg-light text-info text-center ms-3"
      >Views - {{ postData.data.views }}</span
    >
    <h5 class="mt-1">{{ postData.data.title }}</h5>
    <p>
      {{ postData.data.excerpt }}
    </p>
    <span class="bg-light text-warning text-center"
      >LAST UPDATED - {{ formatDate(postData.data.createdAt) }}</span
    >
  </div>
</div>
