<div class="card shadow-effect">
  <img [src]="randomImage()" alt="post-image" class="card-img-top" />
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ms-3">Featured</small>
    <small class="bg-light text-info text-center ms-3">Views - 100, 256</small>
    <h5 class="mt-1">HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h5>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae
      officia laboriosam molestias ut quo velit itaque pariatur.
    </p>
    <small class="bg-light text-warning text-center"
      >LAST UPDATED - SEP 20, 2023</small
    >
  </div>
</div>
