<div class="card">
  <img
    src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d"
    alt="post-image"
    class="card-img-top"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ms-3">Featured</small>
    <small class="bg-light text-info text-center ms-3">Views - 100, 256</small>
    <h5 class="mt-1">HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h5>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae
      officia laboriosam molestias ut quo velit itaque pariatur animi quidem
      sequi consequuntur nihil distinctio illo accusamus, dolore inventore,
      amet, totam saepe corrupti.
    </p>
    <small class="bg-light text-warning text-center"
      >LAST UPDATED - SEP 20, 2023</small
    >
  </div>
</div>
